<h1>STORE</h1>
<div class="mainstore">

<nav class="container">
  Filter by price
  <select>
    <option value="" disabled="true" selected="true">Select an option</option>
    <option value="60">Less than $60</option>
    <option value="100">Less than $100</option>
    <option value="130">Less than $130</option>
    <option value="150">Less than $150</option>
    <option value="170">Less than $170</option>
    <option value="1000">Any</option>

  </select>

<div class="order">
            <p class="order__rating"><strong>Popular</strong></p>
            <p class="order__low"><strong>Price: Low to high</strong></p>
            <p class="order__high"><strong>Price: High to low</strong></p>
        </div>
  <ul>
    <h4>GENDER</h4>
    <li class="filter__men"><a href="">Men</a></li>
    <li class="filter__women"><a href="">Women</a></li>
  </ul>
  <p >
    <label for="amount">Price range:</label>
    <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
  </p>
  <div id="slider-range"></div>
  <input type="text" class="search_input">
  <button class="searchbtn">Search</button>


</nav>


<article class="list">
{{#each list}}
<div class="product">
  <a href="/store/{{name}}/{{_id}}" class="product__link">
    <img class="product__img" src="{{img}}">
    <h2 class="product__title">{{name}}</h2>
  </a>

  <p class="product__rate">
    {{rate}}
  </p>

  <p class="product__price">
    ${{price}}
  </p>

  <button class="product__add_to_cart"
            data-img="{{ img }}"
            data-name="{{ name }}"
            data-price="{{ price }}"
            data-id="{{ _id }}">
            Add to cart
          </button>
</div>
{{/each}}
</article>


</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/scripts/client.js"></script>